<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465429905707-3kuncq5069jc43sdor1iiu3s2enniam2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465429905707-3kuncq5069jc43sdor1iiu3s2enniam2</string>
	<key>API_KEY</key>
	<string>AIzaSyB6jYhcRQzysPS957xZl6ddnkLBk58lZbk</string>
	<key>GCM_SENDER_ID</key>
	<string>465429905707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-e8dc0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-e8dc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465429905707:ios:05363820f1625a5bc6c56e</string>
</dict>
</plist>